@(entries : List[models.Entry])
@template_upper()
<style>

  div#content-container {
    margin-left: 0px;
  }

  div#content-container table {
    margin: auto;
  }

  div#content-container table td {
    padding: 0px 30px;
  }

  div#content-container h3 {
    margin-bottom: 0px;
    border: 1px solid #666;
    text-align: center;
    border-bottom: 0;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #79787A 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #79787A 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #79787A 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #79787A));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #79787A 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #79787A 100%);
  }

  div#left-container {
    padding: 60px 0;
    margin: auto;
  }

  div#right-container {
    padding: 60px 0;
    margin: auto;
  }

  div#content-container li {
    border: 1px solid #666;
    background-color: #fff;
  }

  div#content-container a {
    color: #000;
  }

  div.hero-unit {
    padding: 0 60px;
  }

</style>
<div class="row" id="content-container">
  <table>
    <tr>
      <td style="border-right: 1px solid #666">
        <div class="span5" id="left-container">
    <h3>Room1対象選択</h3>
    <ul class="nav nav-tabs nav-stacked">
      @for(entry <- entries) {
        <li value="@entry.entry_id"><a>@entry.school.school_name,@entry.school_year-@entry.group_name,@entry.level</a></li>
      }
    </ul>
    @helper.form(action = routes.Entries.add, 'method -> "post") {
      <input type="text" name="name" class="span5 name" readonly id="name1">
      <br>
      <input type="text" name="school_year" class="span1 school_year" readonly>
      <input type="text" name="group_name" class="span2 group_name" readonly>
      <input type="text" name="level" class="span1 level" readonly>
      <input type="hidden" name="room_number" value="1">
      <input type="hidden" name="school_id" class="school_id">
      <input type="hidden" name="entry_id" class="entry_id">
      <div style="text-align: center">
        <input type="submit" class="btn btn-primary btn-large" value="開始">
        <input type="reset" class="btn btn-danger btn-large" value="強制終了">
      </div>
    }
  </div>
      </td>
      <td>
        <div class="span5" id="right-container">
    <h3>Room2対象選択</h3>
    <ul class="nav nav-tabs nav-stacked">
      @for(entry <- entries) {
        <li value="@entry.entry_id"><a>@entry.school.school_name,@entry.school_year-@entry.group_name,@entry.level</a></li>
      }
    </ul>
    @helper.form(action = routes.Entries.add, 'method -> "post") {
      <input type="text" name="name" class="span5 name" readonly id="name2">
      <br>
      <input type="text" name="school_year" class="span1 school_year" readonly>
      <input type="text" name="group_name" class="span2 group_name" readonly>
      <input type="text" name="level" class="span1 level" readonly>
      <input type="hidden" name="room_number" value="2">
      <input type="hidden" name="school_id" class="school_id">
      <input type="hidden" name="entry_id" class="entry_id">
      <div style="text-align: center">
      <input type="submit" class="btn btn-primary btn-large" value="開始">
      <input type="reset" class="btn btn-danger btn-large" value="強制終了">
      </div>
    }
  </div>
      </td>
    </tr>
  </table>
</div>
@template_lower()
<script>

  var entries = {
  @for(entry <- entries) {
  @entry.entry_id: {
      school_id: '@entry.school.school_id',
          school_name: '@entry.school.school_name',
          school_year: @entry.school_year,
          group_name: '@entry.group_name',
          level: @entry.level
    },
  }
  };


  function setPostValueByClickListener(container) {
    $(container + ' li').click(function() {
      var entry_id = $(this).attr('value');
      var entry = entries[entry_id];
      $(container + ' input.name').val(entry['school_name']);
      $(container + ' input.school_year').val(entry['school_year']);
      $(container + ' input.group_name').val(entry['group_name']);
      $(container + ' input.level').val(entry['level']);
      $(container + ' input.school_id').val(entry['school_id']);
      $(container + ' input.entry_id').val(entry_id);
    });
  }

  function checkStatusTimer() {

    $.ajax({
      url:'@routes.Rooms.check',
      type:'get',
      dataType:'xml',
      success:function(xml) {
        var rooms = $(xml).find('room');
        var submitButtons = $('#content-container input[type=submit]');
        var resets = $('#content-container input[type=reset]');
        $(rooms).each(function(idx, room) {
          var room_number = Number($(room).find('room_number').text()) - 1;
          var status = $(room).find('status').text();
          if (status === 'OK') {
            $(submitButtons[room_number]).attr('disabled', false);
            $(resets[room_number]).attr('disabled', true);

          }
          else {
            $(submitButtons[room_number]).attr('disabled', true);
            $(resets[room_number]).attr('disabled', false);
          }
        });
      },
     error:function(XMLHttpRequest, textStatus, errorThrown){
       //location.href = '/';
       location.reload();
      }
    });
  }

  $(document).ready(function() {
    setPostValueByClickListener('#right-container');
    setPostValueByClickListener('#left-container');

    checkStatusTimer();
    setTimeout(function() {
      setInterval(checkStatusTimer, 500);
    }, 500);

    $('#content-container input[type=reset]').each(function(idx, btn) {
      $(btn).click(function() {
        var room_number = idx + 1;
        location.href = '/entries/stop/' + room_number;
      });
    });

    $('#content-container input[type=submit]').each(function(idx, btn) {
      $(btn).click(function() {
        var room_number = idx + 1;
        var inputVal = $('#name' + room_number).val();
        if (!inputVal) {
          alert('エントリーを選択して下さい')
          return false;
        }
        $.ajax({
          url:'@routes.Subjects.check',
          type:'get',
          dataType:'json',
          success:function(json) {
            console.log(json);
            if (json.status === 'OK') {
              $($('form')[idx]).submit();
            }
          },
          error:function(XMLHttpRequest, textStatus, errorThrown){
            var json = XMLHttpRequest.responseText;
            console.log(json);
            var obj = $.parseJSON(json);
            if (obj.status === 'NG') {
              alert(obj.message);
              return false;
            }
          }
        });
        return false;
      });
    });
  });


</script>
