@(msg: String)
@template_upper()
@helper.form(action = routes.Schools.master, 'method -> "post") {
  <div class="row">
      <span class="span5">
        <label>学校名</label>
        <input type="text" name="school_name">
        <span id="errMsg">@msg</span>
      </span>
  </div>
  <div class="row" style="margin-top: 20px;">
    <span class="span1"></span>
    <span class="span4">
    <input type="reset" class="btn btn-warning btn-large" value="キャンセル">
    <input type="submit" class="btn btn-primary btn-large" value="登録"></span></div>
}
@template_lower()
